@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @if (!Model.Solved)
    {
        <div class="col-md-6">

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Guess the Number</label>

                    <div class="digits">
                        <input class="form-control" type="text" pattern="\d*" maxlength="1" name="digit1" />
                        <input class="form-control" type="text" pattern="\d*" maxlength="1" name="digit2" />
                        <input class="form-control" type="text" pattern="\d*" maxlength="1" name="digit3" />
                        <input class="form-control" type="text" pattern="\d*" maxlength="1" name="digit4" />
                    </div>

                </div>
                <input type="hidden" name="attempt" id="attempt" />
                <button type="submit" id="submitBtn" class="btn btn-primary" disabled="disabled">Submit</button>
            </form>

        </div>
    }
    else
    {
        <div class="col-md-6">
            <h1>Congratulations!!!!</h1>
        </div>
    }
    <div class="col-md-6">
        <h3>Previous Attempts:</h3>
        <ul>
            @foreach(var attempt in Model.Attempts)
            {
                <li>@attempt</li>
            }
        </ul>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        // Listen on the 'input' event inside the .digits area:
        document.querySelector(".digits").addEventListener("input", function (e) {
            // Exclude non-numeric characters from input:
            e.target.value = e.target.value.replace(/[^0-9]/g, '');
            // If the input value is filled and there is a neighbouring element that is input, then focus on that element:
            if (e.target.value !== "" && e.target.nextElementSibling && e.target.nextElementSibling.nodeName === "INPUT") {
                e.target.nextElementSibling.focus();
            }

            const attempt = document.querySelector("#attempt");
            const numbers = document.querySelectorAll('.digits input');
            attempt.value = '';
            numbers.forEach(p => attempt.value = attempt.value + p.value);

            console.log(attempt.value.length);

            const submitBtn = document.querySelector("#submitBtn");
            if (attempt.value.length === 4) {
                submitBtn.removeAttribute("disabled");
            }
            else {
                submitBtn.setAttribute("disabled", "disabled");
            }
        });
    </script>
}